@charset "UTF-8";

/*common
-------------------------------*/
body{
	margin: 0;
}
header{	
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255,255,255,.6);
	color: #696969;
	position: fixed;
	z-index: 10;
}
nav ul{
	display: flex;
	margin: 0 50px;
}
nav li{
	list-style: none;
	font-family: "Caudex", serif;
	font-size: 20px;
	padding: 0 20px;
	font-weight: bold;
}
a{
	color: inherit;
	text-decoration: none;
}
nav li a:hover{
	color: rgba(0,0,0,.2);
}
.header-insta{
	margin-right: 70px;
	padding-right: 60px;
}
footer{
	width: 100%;
	height: 210px;
	background-color: rgba(0,0,0,.1);
	color: #696969;
}
.text-footer{
	font-family: "Caudex", serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main-footer{
	width: 720px;
	display: flex;
	font-size: 12.5px;
	margin: 30px 0;
	line-height: 1.7;
}
.main-footer .footer-logo{
	font-family: "Edu AU VIC WA NT Arrows", cursive;
	font-size: 40px;
	margin-right: 30px;
	margin-left: auto;
}
.main-footer .footer-address{
	margin-left: 30px;
	margin-right: auto;

}
.main-footer2{
	display: flex;
	float: right;
}
.main-footer2 a{
	width: 50px;
}
.small{
	text-align: center;
	font-family: "Caudex", serif;
}
.toggle-menu-button{
	display: none;
}
.shopname{
	font-weight: bold;
}



/*index
-------------------------------*/
.first-view{
	max-width: 100%;
	height: 100vh;
	background: url(../images/image01-1.jpg) no-repeat center center/cover;
	position: relative;
	display: flex;
	align-items: center;
}
.text-main{
	line-height: 1;
	color: rgba(255,255,255,0.9);
	font-family: "Caudex", serif;
	position: absolute;
	top: 50%;
	left: 10%;
}
.text-main h1{
	font-family: "Edu AU VIC WA NT Arrows", cursive;
	font-size: 80px;
	font-weight: bold;
}
.text-flower{
	font-size: 24px;
	margin-top: 50px;
}
.text-wedding{
	font-size: 18px;
}
.index-main{
	width: 100%;
	height: 1050px;
	background-color: #f8f4ec;
	padding-top: 60px
}
.index-main-in{
	width: 720px;
	background-color: rgba(255,255,255,.5);
	margin: 40px auto 50px;
	padding: 30px 0 0;
	border: 1px solid rgba(0,0,0,.1);
}
.index-main h2,.aboutus h2{
	color: rgba(0,0,0,.7);
	font-size: 40px;
	font-family: "Playwrite IT Trad", cursive;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	margin: 40px 0;
}
.index-main-inner{
	color: rgba(0,0,0,.7);
	display: flex;
	flex-direction: column;
	margin: 40px auto 50px;
}
.index-main-inner p{
	width: 80%;
	font-size: 15px;
	font-family: "Caudex", serif;
	margin: 0 auto;
	border-bottom: 1px dotted rgba(0,0,0,.5);
	line-height: 3;
}
.index-main-inner p time{
	display: inline-block;
	width: 200px;
	padding-left: 30px;
}
.index-main-inner a:hover{
	color: #000;
}
.aboutus{
	width: 720px;
	background-color: rgba(255,255,255,.4);
	margin: 40px auto 50px;
	padding: 30px 0 50px;
	border: 1px solid rgba(0,0,0,.1);
}
.aboutus p{
	color: rgba(0,0,0,.7);
	font-family: "Caudex", serif;
	text-align: center;
	font-size: 15px;
	line-height: 2;
	padding: 0 0 40px;
}
.aboutus-button{
	display: flex;
	position: relative;
	width: 550px;
	height: 100px;
	background: url(../images/image34.jpg) no-repeat center 55% /cover;
	border-radius: 100px;
	margin: 0 auto;
}
.aboutus-button a:hover{
	background-color: rgba(255,255,255,0.5);
	border-radius: 100px;
}
.aboutus-button p{
	font-size: 30px;
	color: rgba(255,255,255,.9);
	font-weight: bold;
	position: absolute;
	top: 15%;
	left: 20%;
	right: 20%;
}
.aboutus-button a{
	display: block;
	width: 100%;
}



/*about
-----------------------------*/
.main{
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f8f4ec;
	padding-top: 60px;
	padding-bottom: 100px;
}
.about-main{
	width: 100%;
	height: 420px;
	background: url(../images/image02.jpg) no-repeat center 45%/cover;
	display: flex;
	position: relative;
}
.text-about{
	font-family: "Playwrite IT Trad", cursive;
	position: absolute;
	top: 45%;
	right: 15%;
}
.text-about h1{
	font-size: 50px;
	color: rgba(255,255,255,.9);
	font-weight: bold;
}
.about-toptextbox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 80px auto 100px;
}
.about-toptext{
	width: 730px;
	height: 300px;
	border: 3px double rgba(153,0,0,.5);
	background-color: rgba(255,255,255,.5);
}
.about-toptext p{
	font-family: "Caudex", serif;
	font-size: 16px;
	text-align: center;
	line-height: 4;
	margin: 50px 0;
	color: rgba(0,0,0,.8);
}
.about-img1{
	display: flex;
	position: relative;
	width: 70%;
	height: 50vh;
	background: url(../images/image03.jpg) no-repeat center /cover;
	border-radius: 300px;
}
.about-img2{
	display: flex;
	position: relative;
	width: 70%;
	height: 50vh;
	background: url(../images/image10.jpg) no-repeat center 40% /cover;
	border-radius: 300px;
}
.about-img3{
	display: flex;
	position: relative;
	width: 70%;
	height: 50vh;
	background: url(../images/image14.jpg) no-repeat center 57% /cover;
	border-radius: 300px;
}
.about-img1 a:hover{
	background-color: rgba(255,255,255,.6);
	border-radius: 300px;
}
.about-img2 a:hover{
	background-color: rgba(255,255,255,.6);
	border-radius: 300px;
}
.about-img3 a:hover{
	background-color: rgba(255,255,255,.6);
	border-radius: 300px;
}
.about-img1 p{
	font-family: "Caudex", serif;
	font-size: 40px;
	color: #fff;
	position: absolute;
	top: 50%;
	right: 10%;
}
.about-img2 p{
	font-family: "Caudex", serif;
	font-size: 40px;
	color: rgba(0,0,0,.8);
	position: absolute;
	top: 50%;
	left: 15%;
}
.about-img3 p{
	font-family: "Caudex", serif;
	font-size: 40px;
	color: #fff;
	position: absolute;
	top: 45%;
	right: 10%;
}
.images{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.images a{
	display: block;
	width: 100%;
	
}
.img-text1 p,.img-text2 p,.img-text3 p{
	font-family: "Caudex", serif;
	font-size: 13px;
	color: rgba(0,0,0,.8);
	background-color: rgba(255,255,255,.5);
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,.1);
	width: 550px;
	height: 20px;
	margin: 10px auto 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}



/*works
--------------------------------*/
.main-works{
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f8f4ec;
	padding-top: 60px;
	padding-bottom: 100px;
}
.text-works h1{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Playwrite IT Trad", cursive;
	font-size: 50px;
	padding: 45px 0 10px;
	color: rgba(0,0,0,.8);
	font-weight: bold;
}
.shop-contents{
	width: 1080px;
	max-width: 90%;
	margin: 75px auto 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}
.shop-item{
	flex-grow: 1;
	max-width: 810px;
}
.shop-item p{
	font-size: 22px;
	font-family: "Playwrite IT Trad", cursive;
	color: rgba(0,0,0,.8);
	line-height: 30px;
}
.item-list{
	margin: 25px 0 60px;
	display: grid;
	grid-template-columns: repeat(3, 250px);
	column-gap: 30px;
	row-gap: 20px;
	list-style: none;
}
.item-list img:hover{
	transform: scale(1.2);
	transition-duration: 0.1s;
	cursor: crosshair;
	box-shadow: 0 3px 8px 6px rgba(0,0,0,.1);
}
.shop-menu{
	flex-shrink: 0;
	width: 15%;
}
.shop-menu-inner{
	position: sticky;
	top: 75px;
	background-color: rgba(255,255,255,.5);
	border: 1px solid rgba(0,0,0,.1);
	padding: 50px 0 50px;
	color: rgba(0,0,0,.8);
}
.shop-menu-inner h2{
	font-size: 20px;
	font-family: "Caudex", serif;
	text-align: center;
	border-bottom: 1px dotted rgba(0,0,0,.1);
	line-height: 2;
}
.shop-menu-inner ol{
	list-style-type: lower-roman;
	margin-top: 10px;
	padding-left: 55px;
	padding-right: 55px;
}
.shop-menu-inner li{
	font-size: 14px;
	margin-top: 15px;
	font-family: "Caudex", serif;
}
.shop-menu-inner li a:hover{
	background-color: rgba(250,128,114,.3);
	border-radius: 30px;
}
.shop-menu-inner img{
	margin-bottom: 10px;
}
.item2{
	grid-column: 2/4;
}
.item3{
	grid-row: 2/3;
}
.item9{
	grid-column: 1/3;
	grid-row: 1/2;
}
.item10{
	grid-column: 3/4;
	grid-row: 1/2;
}
.item13{
	grid-row: 2/3;
}
.item14{
	grid-column: 3/4;
	grid-row: 2/3;
}
.item15{
	grid-row: 3/4;
}
.item16{
	grid-column: 1/2;
	grid-row: 3/4;
}
p.anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}



/*order
---------------------------------*/
.main-1{
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f8f4ec;
	padding-top: 60px;
	padding-bottom: 100px;
}
.order-main{
	width: 100%;
	height: 420px;
	background: url(../images/image06.jpg) no-repeat center 38%/cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.order-text h1{
	font-family: "Playwrite IT Trad", cursive;
	color: rgba(255,255,255,.9);
	font-size: 50px;
	font-weight: bold;
}
input{
	border: 1px solid #000;
	border-radius: 5px;
	height: 28px;
	border-color: rgba(0,0,0,.3);
}
textarea{
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 5px;
	height: 150px;
	width: 550px;
	margin: 15px 15px;
}
.contact1{
	width: 750px;
	margin: 30px auto 0;
	padding: 30px;
	background-color: rgba(255,255,255,0.4);
	border: 1px solid rgba(0,0,0,.3);
	font-family: "Caudex", serif;
	color: rgba(0,0,0,0.9);
}
.contact2{
	width: 750px;
	margin: 30px auto 0;
	padding: 30px;
	background-color: rgba(255,255,255,0.4);
	border: 1px solid rgba(0,0,0,0.3);
	font-family: "Caudex", serif;
	color: rgba(0,0,0,0.9);
}
.mainform{
	width: 600px;
	margin: 50px auto 50px;
	text-align: center;
	line-height: 2;
	font-family: "Caudex", serif;
	font-size: 15px;
	color: rgba(0,0,0,.7);
}
.mainform-text{
	font-size: 18px;
}
.contact1 p,.contact2 p{
	width: 560px;
	margin: 10px 30px;
}
.form1,.form2{
	margin: 0 30px;
}
.required::after{
	content: '*';
	font-size: 16px;
	color: rgba(255,0,0,.7);
	margin-left: 15px;
}

h3,h4{
	margin-top: 20px;
	border-top: 1px dotted rgba(0,0,0,0.4);
	border-bottom: 1px dotted rgba(0,0,0,0.4);
	padding: 15px 0;
	font-weight: bold;
}
.ordercontact{
	width: 690px;
	text-align: center;
	font-size: 35px;
	margin-bottom: 40px;
    display: block;
    padding-top: 90px;
    margin-top: -90px;
}
.subject{
	display: inline-block;
	width: 180px;
}
.span-post{
	width: 100px;
	margin-left: 5px;
}
.span-address{
	width: 380px;
}
.time input{
	vertical-align: middle;
	margin: 10px 8px;
}
.submit{
	display: flex;
	justify-content: center;
}
.submit input{
	width: 100px;
	height: 50px;
	border-radius: 50px;
	background-color: rgba(216,191,216,.5);
	border: none;
}
.submit input:hover{
	background-color: rgba(216,191,216);
}
.this{
	border-bottom: 1px dashed rgba(0,0,0,0.4);
}
.div-order{
	margin: 30px 0;
}



/*access
---------------------------------*/
.main-2{
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f8f4ec;
	padding-top: 60px;
	padding-bottom: 100px;
	color: rgba(0,0,0,.7);
}
.main-access{
	width: 100%;
	height: 420px;
	background: url(../images/image35.jpg) no-repeat center 25%/cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.text-access h1{
	font-family: "Playwrite IT Trad", cursive;
	color: rgba(255,255,255,.9);
	font-size: 50px;
	font-weight: bold;
}
.map{
	width: 930px;
	max-width: 90%;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Caudex", serif;
}
.map iframe{
	display: block;
	width: 100%;
	height: 400px;
	margin-top: 25px;
}
.map-address{
	font-family: "Caudex", serif;
	margin: 60px auto 0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	line-height: 2;
	background-color: rgba(255,255,255,0.4);
	border: 1px solid rgba(0,0,0,0.1);
}
.train{
	margin-top: 30px;
}
.address-inner{
	margin-top: 30px;
}
.address-inner h2{
	font-size: 20px;
	text-align: center;
}
.shoptime{
	margin: 30px 0 50px;
}
.open,.close{
	display: inline-block;
	width: 80px;
}
.number{
	display: inline-block;
	width: 55px;
}
.train p{
	border-bottom: 1px solid rgba(0,0,0,0.4);
	line-height: 5;
}
.map p{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid rgba(0,0,0,0.5);
	line-height: 3;
}



/*news
-------------------------------------*/
.main-news{
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f8f4ec;
	padding-top: 60px;
	padding-bottom: 100px;
}
.news-main{
	width: 100%;
	height: 420px;
	background: url(../images/image36.jpg) no-repeat center 80%/cover;
	display: flex;
	position: relative;
}
.text-news{
	font-family: "Playwrite IT Trad", cursive;
	position: absolute;
	top: 45%;
	right: 25%;
}
.text-news h1{
	font-size: 50px;
	color: rgba(255,255,255,.9);
	font-weight: bold;
}
.index-news-inner{
	width: 800px;
	border: 1px solid rgba(0,0,0,.1);
	margin: 100px auto 0;
	background-color: rgba(255,255,255,.4);
}
.index-news1,.index-news2,.index-news3{
	width: 720px;
	margin: 50px auto;
	padding: 0 20px;
	border: 3px double rgba(0,51,0,.4);
	background-color: rgba(255,255,255,.5);
	font-family: "Caudex", serif;
	color: rgba(0,0,0,.7);
}
.index-news-inner h2{
	font-size: 16px;
	border-bottom: 1px dotted rgba(0,0,0,.3);
	margin-top: 30px;
	line-height: 2;
	font-weight: bold;
}
.index-news-inner h2 time{
	display: inline-block;
	width: 180px;
	padding-left: 30px;
}
.index-news-inner p{
	width: 80%;
	margin: 30px auto;
	font-size: 14.5px;
	text-align: left;
}
.index-news-inner p span{
	color: rgba(255,0,0,.7);
}



@media (max-width: 800px){

/*common
-------------------------*/
.header-inner ul{
	display: block;
	text-align: center;
}
.header-inner li{
	margin-top: 10px;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.2);
	height: 60px;
	z-index: 10;
}
.header{
	padding: 0 23px;
	height: 100%;
	position: relative;
}
.header-inner{
	width: 210%;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	padding: 30px 0;
	display: none;
}
.header-insta{
	margin: 0;
	padding: 5px 25px 5px 0;
}
.toggle-menu-button{
	display: block;
	width: 45px;
	height: 40px;
	margin-top: 8px;
	background: url(../images/home2.png) no-repeat center center/75%;
	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;
}
.header-inner.is-show{
	display: block;
}
footer{
	height: 250px;
}
.main-footer{
	display: block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.main-footer .footer-logo{
	width: 30%;
	text-align: center;
	font-size: 25px;
	margin-right: auto;
	margin-left: auto;
}
.main-footer .footer-address{
	width: 50%;
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}


/*index
-------------------------*/
.first-view{
	width: 100%;
	height: calc(100vh - 60px);
}
.text-main h1{
	font-size: 50px;
}
.text-main{
	top: 65%;
	left: 10%;
}
.index-main{
	height: 1200px;
}
.index-main-in{
	width: 80%;
}
.aboutus{
	width: 80%;
}
.index-main{
	padding-top: 30px;
}
.index-main-inner p time{
	width: 250px;
	padding: 0;
}
.aboutus-in p{
	text-align: left;
	padding: 0 10px 20px;
}
.aboutus-button{
	width: 80%;
}



/*about
-----------------------*/
.about-main{
	height: calc(100vh - 450px);
}
.text-about{
	top: 60%;
	right: 8%;
}
.text-about h1{
	font-size: 45px;
}
.about-toptext{
	width: 80%;
}
.about-toptext p{
	line-height: 2.5;
	margin: 10px 10px;
	text-align: left;
}
.about-img1,.about-img2,.about-img3{
	width: 300px;
	height: 300px;
}
.img-text1,.img-text2,.img-text3{
	width: 80%;
}
.img-text1 p,.img-text2 p,.img-text3 p{
	width: 100%;
	font-size: 11px;
	height: 40px;
}
.main{
	padding-bottom: 50px;
}



/*order
------------------------------*/
.order-main{
	height: calc(100vh - 450px);
}
.order-text h1{
	font-size: 45px;
}
.mainform{
	width: 80%;
}
.mainform p{
	width: 100%;
}
.mainform-text{
	font-size: 16px;
}
.contact1,.contact2{
	width: 90%;
}
.ordercontact{
	width: 100%;
}
.form1,.form2{
	margin: 0;
}
.div-order p{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
.subject-number{
	width: 100%;
}
.span-address{
	width: 100%;
}
.textarea p{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.textarea p{
	width: 100%;
}
textarea{
	width: 100%;
	margin: 20px 0;
}
.submits p{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}



/*access
-----------------------------*/
.main-access{
	height: calc(100vh - 450px);
}
.text-access h1{
	font-size: 45px;
	color: rgba(0,0,0,0.7);
}
.map{
	width: 80%;
}
.map-address{
	width: 80%;
}
.train p{
	text-align: center;
	line-height: 3;
	margin: 0 8px;
}



/*works
-----------------------------*/
.shop-contents{
	display: block;
	max-width: 100%;
}
.shop-item{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.item-list{
	display: inline-block;
	align-items: center;
	padding-left: 37.5px;
	padding-right: 37.5px;
}
.item-list li{
	width: 100%;
}
.item-list img{
	width: 300px;
	margin: 3px 0;
}
.item-list img:hover{
	transform: scale(1.1);
	transition-duration: 0.1s;
	cursor: crosshair;
	box-shadow: 0 3px 8px 6px rgba(0,0,0,.1);
}
.anchor{
	text-align: center;
}
.shop-menu{
	width: 80%;
	margin-left: 40px;
	margin-right: 40px;
}
.shop-menu-inner ol{
	padding-left: 125px;
	padding-right: 0;
}


/*news
-----------------------------*/
.text-news{
	top: 20%;
	right: 30%;
}
.index-news-inner{
	width: 90%;
}
.index-news1,.index-news2,.index-news3{
	width: 90%;
}
.index-news-inner h2{
	text-align: center;
}
.index-news-inner h2 time{
	width: 100%;
	padding-left: 0;
}
.index-news-inner p{
	width: 100%;
}






}
